* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #0A2A47;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    height: 100vh; 
    overflow-y: scroll; 
    scrollbar-width: none;
}

.nav-links li a:hover{
    background-color: #294774;
}

.logo img {
    width: 35px;
    height: 35px;
    border-radius: 150px;
    margin-left: 25px;
    margin-right: 10px;
}

.logo{
    font-size: 13px;
    display: flex;
    margin-top: 18px;
    align-items: center;
    margin-bottom: 50px;
}

.nav-links {
    list-style-type: none;
    width: 120%;
    padding: 0;
    font-size: 18px;
}

.nav-links li {
    width: 120%;
    margin-left: 25px;
}

.nav-links li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    width: 100%;
    transition: background-color 0.3s;
}

.nav-links .icon {
    margin-right: 10px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f0f0;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-left: 16px;
    display: inline-block;
    margin: 0 10px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0A2A47;
    color: #fff;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 15px 20px;
    font-weight: bold;
}

.topbutton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 820px;
}

.top-nav-icons {
    display: flex;
}

.top-nav-icons a {
    margin-left: 10px;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0 4px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.highlighted {
    background-color: #57abc5; 
}

.icon svg {
    fill: white;
}

.job-cards-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f5f0f0;
}

.job-card {
    background-color: #e0f0fa;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
    color: #454444;
}

.bookmark-icon {
    font-size: 20px;
    color: #0A2A47;
    cursor: pointer;
}

.job-card-body {
    margin-bottom: 20px;
}

.company-name {
    font-size: 16px;
    font-weight: bold;
    color: #0A2A47;
}

.job-title {
    font-size: 18px;
    color: #333;
    margin-top: 5px;
}

.applied-button {
    background-color: #0A2A47;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.applied-button:hover {
    background-color: #294774;
}

.sidebar.active {
    transform: translateX(-250px);
    transition: 0.3s;
}

.nav-links li ul {
    display: none;
}

.nav-links li ul.show {
    display: block;
    padding-left: 15px;
    background-color: #0A2A47;
}