* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #0A2A47;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  height: 100vh; 
  overflow-y: scroll; 
  scrollbar-width: none;
}

.nav-links li a:hover{
  background-color: #294774;
}

.logo img {
  width: 35px;
  height: 35px;
  border-radius: 150px;
  margin-left: 25px;
  margin-right: 10px;
}

.logo{
  font-size: 13px;
  display: flex;
  margin-top: 18px;
  align-items: center;
  margin-bottom: 50px;
}

.nav-links {
  list-style-type: none;
  width: 120%;
  padding: 0;
  font-size: 18px;
}

.nav-links li {
  width: 120%;
  margin-left: 25px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  width: 100%;
  transition: background-color 0.3s;
}

.nav-links .icon {
  margin-right: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f5f0f0;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons .icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-left: 16px;
  display: inline-block;
  margin: 0 10px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0A2A47;
  color: #fff;
}

.top-nav a {
  color: #ffffff;
  text-decoration: none;
  margin: 15px 20px;
  font-weight: bold;
}

.topbutton{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 820px;
}

.top-nav-icons {
  display: flex;
}

.top-nav-icons a {
  margin-left: 10px;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.highlighted {
  background-color: #57abc5; 
}

.icon svg {
  fill: white;
}

.content-area {
  padding: 20px;
  margin-top: 80px;  
  padding-left: 260px; 
  overflow-y: auto;
  height: calc(100vh - 80px); 
}

.question-item {
  margin-bottom: 30px;
}

.question-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #0A2A47;
}

textarea {
width: 80%; 
height: 150px; 
padding: 10px; 
font-size: 16px; 
border: 1px solid #ccc; 
border-radius: 4px;
resize: none;
font-family: 'Times New Roman', Times, serif;
}

textarea:focus {
  border-color: #0A2A47;
  outline: none;
}

.next-button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #0A2A47;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #294774;
}
