
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f5f0f0;
}

header {
    background-color: #123456;
    color: #ffffff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 500px;
}

.logo img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    border-radius: 150px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 25px;
    font-weight: bold;
    
}

.nav-links a:hover {
    color: #cceeff;
}


.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    width: 24px;
    height: 24px;
    background-size: cover;
    margin-left: 16px;
    display: inline-block;
    margin: 0 10px;
}

.search-icon {
    background-image: url('icons/search.svg');
}

.notification-icon {
    background-image: url('icons/notification.svg');
}

.profile-icon {
    background-image: url('icons/profile.svg');
}

.menu-icon {
    background-image: url('icons/menu.svg');
}

.job-card{
    display: grid;
    font-size: 17px;
    padding: 40px;
    border-bottom: 30px solid #686666;
}
