{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/Forget_pass.css' %}" />
    <script src="{% static 'js/Forget_pass.js' %}" defer></script>
  </head>
  <body>
    <div class="overlay">
      <div class="header">
        <img src="{% static 'images/logo.png' %}" alt="TechJobHub Logo" class="logo" />
        <h1 class="title">TechJobHub</h1>
      </div>
      <div class="container">
        <div class="content">
          <h2 class="main-heading">TECHJOBHUB</h2>
          <p class="description">
            TechJobHub is an online platform that matches job seekers with the <br>
            right positions and enables recruiters to post jobs, conduct tests, <br>
            and hold interviews online. It simplifies hiring and supports career <br>
            growth for both new and experienced professionals.
          </p>
        </div>
        <div class="forget-password-form">
          <div class="form-header">
            <a href="{% url 'Login' %}">Sign In</a>
          </div>
          <div class="forget-password">
            <h3>Forget Password</h3>
          </div>
          <form class="form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" />
            <label for="password">New Password</label>
            <input type="password" id="new-password" name="password" />
            <label for="password">Confirm Password</label>
            <input type="password" id="cur-password" name="password" />
            <button type="submit" class="send-btn">Send</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
