/* Resetting margin and padding */
main {
    margin-top: 25px;
    padding: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.company-container {
    background-color: #4d5a64;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
    max-width: 900px;
}

.company-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
    color: #f39c12;
}

.company-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 18px;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
    outline: none;
    background-color: #222;
    color: #fff;
}

.form-group input:disabled,
.form-group textarea:disabled {
    background-color: #333;
    color: #bbb;
}

.form-group a {
    font-size: 16px;
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s ease;
}

.form-group a:hover {
    color: #e67e22;
}

.profile-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    border: 3px solid #f39c12;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: #ecf0f1;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
}

@media (max-width: 768px) {
    header .logo h1 {
        font-size: 20px;
    }

    header nav {
        gap: 10px;
    }

    main {
        padding: 20px;
    }

    .company-container {
        padding: 30px;
    }

    .company-title {
        font-size: 28px;
    }
}
